{
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "indentStyle": "space",
  "indentCase": "switch",
  "wrapOnLongLines": true,
  "wrapAttributes": "auto",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "breakBeforeBraces": true,
  "arrowParens": "avoid"
}
